<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up</title>
	<style>
		:root {
			color-scheme: dark only;
		}
	</style>
</head>
<body>

	<h1>Sign Up</h1>

	<form
		action="/signup"
		method="post"
		enctype="multipart/form-data"
	>
		<input type="file" name="profile_picture" accept="image/png, image/jpeg">
		<button type="submit">Sign Up</button>
	</form>

</body>
</html>
